<form>
  <div>
    <h4 class="cusTitle">Customer Input</h4>
  </div>
  <div class="firstName">
    <label>First Name</label>
    <!-- <input type="text" #newCustomer name="newCustomer" /> -->
    <input type="text" #newCustomer [(ngModel)]=firstName name="firstName" />
  </div>
  <div class="lastName">
    <label>Last Name</label>
    <input (keyup.enter)="addCustomer(newCustomer.value)" type="text" #newCustomer1 [(ngModel)]=lastName name="lastName" /><br>
  </div>
  <div class="showMes">
    <label>Full Name: </label>
    {{firstName}} {{lastName}}
  </div>
</form>
<ul>
  <div class="listCus">
    <label>Customer List: </label>
    <li *ngFor="let cus of customers;let i = index"><label>{{i+1}}.</label> {{cus.FirstName}} {{cus.LastName}}</li>
  </div><label>
