*{
  font-family: sans-serif;
}
.cusTitle{
  font-size: 20px;
  color: black; 
  background-color:#ddd;
}
.firstName{
  margin-bottom: 20px; 
}
.firstName label{
  color: black;
  margin-right: 10px;
}
.firstName input{
  width: 200px;
  height: 30px;
}

.lastName{
  margin-bottom: 20px; 
}
.lastName label{
  color: black;
  margin-right: 10px;
}
.lastName input{
  width: 200px;
  height: 30px;
}

.showMes{
  margin-bottom: 20px; 
}
.showMes label{
  color: black;
  margin-right: 10px;
}
.showMes input{
  width: 200px;
  height: 30px;
}
.showMes label{
  color: black;
  
}
.listCus{
  border: 3px solid #ccc;
}
.listCus li{
  list-style-type: none;  
}